/* minimize */
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");*{box-sizing:border-box}body{font-family:Quicksand,sans-serif;margin:0;padding:0}h2,h3{color:#00a2c6}main{overflow:auto;padding:20px}aside{float:right;padding-left:20px;width:25%}header{display:inline}nav a:hover{font-weight:700}.profile header,footer{text-align:center}footer{background-color:#00a2c6;color:#fff;font-weight:700;padding:20px}.featured-image{max-height:300px;object-fit:cover;object-position:center;width:100%}.profile img{width:200px}.card{border-radius:5px;box-shadow:0 4px 8px 0 rgba(0,0,0,.2);margin-top:20px;padding:20px}.jumbotron{background-color:#00c8eb;color:#fff;font-size:20px;padding:20px;text-align:center}nav li{display:inline;list-style-type:none;margin-right:20px}nav{background-color:#00a2c6;padding:5px;position:sticky;top:0}nav a{color:#fff;font-size:18px;font-weight:400;text-decoration:none}#content{float:left;width:75%}

/* @import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
*{
  box-sizing: border-box;
}
body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
 }
  
 h2, h3 {
    color: #00a2c6;
 }
  
 footer {
    padding: 20px;
    color: white;
    background-color: #00a2c6;
 }
 main{
  padding: 20px;
  overflow: auto;
 }
 aside{
  float: right;
  width: 25%;
  padding-left: 20px
 }
 header{
  display: inline;
 }
 nav a{
   font-size: 18px;
   font-weight: 400;
   text-decoration: none;
 }
 nav a:hover{
   font-weight: bold;
 }
 .profile header{
   text-align: center ;
 }

 footer{
   padding: 20px;
   color: white;
   background-color: #00a2c6;
   text-align: center;
   font-weight: bold;
 }

 .featured-image{
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  object-position: center;
 }
 .profile img{
  width: 200px;
 }
 .card{
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
 }
 .jumbotron{
  padding: 20px;
  background-color: #00c8eb;
  text-align: center;
  font-size: 20px;
  color: white;
 }
 nav li{
  display:inline;
  list-style-type: none;
  margin-right: 20px;
 }
 nav{
  background-color: #00a2c6;
  padding: 5px;
  position: sticky;
  top: 0;
 }
 nav a{
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  color: white;
 }
#content{
  float: left;
  width: 75%;
} */
/* seponsive */
@media screen and (max-width: 1000px) {
  #content,
  aside{
    width: 100%;
    padding: 0;
  }
}